.center {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.body {
  /* width: 375px;
  height: 667px; */
  border: 15px;
  /* margin: 20px; */
  
}



.scan-your-id {
  
  
  color: #000000;
  font-family: Roboto;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  
}

.take-a-picture-it-m {
  /* height: 48px;
  width: 314px; */
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  
}


