

  .scan-your-id {
    color: #000000;
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    
  }
  
  .take-a-picture-it-m {
    
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    
  }

  .button-cancel {
    height: 48px;
    width: 160px;
    border-radius: 24px;
    background-color: red;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.35px;
    line-height: 24px;
    box-shadow: 0 10px 20px -5px rgba(47,0,121,0.3);
  }
  

